@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&family=Poppins:wght@400;500&family=Raleway&display=swap');

:root{
    --cor--fundo: #00030c;
    --cor--secundaria:#ffffff;
    --cor--botao: #86196B;
    --cor--botao--hover: #FFD4B2;

    --font--primaria: 'Franklin Gothic Medium', sans-serif;
    --font--secundaria: 'Raleway', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
   font-size: 100%;
   background-color: var(--cor--fundo);
}
.menu{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.menu__fundo{
    background-image: url(assets/backgroung.png);
    background-size: cover;
    background-position: center center;
    color: var(--cor--secundaria);
    object-fit: contain;
}
.container{
    height: 100vh;
}

.menu__logo{
    width: 100px;
    object-fit: contain;    
}

.menu__botao{
    justify-content: space-around;
    gap: 40px;
    color: var(--cor--secundaria);
    font-family: var(--font--primaria);
    font-size: 24px;
}
.menu__botao__assinar{
    background-color: var(--cor--botao);
    border: none;
    padding: 15px;
}
.menu__botao__assinar:hover{
    background-color: var(--cor--botao--hover);
    font-size: 28px;
}
.menu__botao__entrar:hover{
    background-color: var(--cor--botao--hover);
    font-size: 28px;
    padding: 15px;
}