@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&family=Poppins:wght@400;500&family=Raleway&family=Roboto:wght@400;700&display=swap');

:root{
    --cor--fundo: #040D12;
    --cor--secundaria:#ffffff;
    --cor--terciaria: #;
    --cor--botao: #00A99D;
    --cor--botao--hover: #00A99D, #000000;
    --cor--sombra: #383838;

    --font--primaria: 'Roboto', sans-serif;
    --font--secundaria: 'Raleway', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
   font-size: 100%;
   background-color: var(--cor--fundo);
}

.menu__fundo{
    background-image: url(assets/backgroung.png);
    background-size: contain;
    background-position: center center;
    color: var(--cor--secundaria);
    object-fit: contain;
    opacity: 0.5;
}
.container{
    height: 100vh;
}
.conteudo{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.conteudo__titulo{
    padding: 2%;
    font-family: var(--font--primaria);
    font-size: 30px;
    color: var(--cor--secundaria);
}
.conteudo__texto{
    padding: 2% 20% 5%;
    font-family: var(--font--secundaria);
    font-size: 20px;
    color: var(--cor--secundaria);
}

.conteudo__botao__assinar{
    font-family: var(--font--primaria);
    background-image: linear-gradient(var(--cor--botao--hover));
    color: var(--cor--secundaria);
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: 400;
    height: 50px;
}
.conteudo__botao__assinar:hover{
    background: none;
    border-style: solid;
    border-width: 2px; 
}
.menu{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.menu__logo{
    width: 100px;
    object-fit: contain;    
}

.menu__botao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
    color: var(--cor--secundaria);
    font-family: var(--font--primaria);
    font-size: 24px;
}
.menu__botao__assinar{
    font-family: var(--font--primaria);
    background-image: linear-gradient(var(--cor--botao--hover));
    color: var(--cor--secundaria);
    padding: 15px;
    border-radius: 8px;
    font-weight: 400;
    height: 60px;
}
.menu__botao__assinar:hover{
    background: none;
    border-style: solid;
    border-width: 2px;    

}
.menu__botao__entrar{
    color: var(--cor--secundaria);
}
.menu__botao__entrar:hover{
    background-image: linear-gradient(var(--cor--botao--hover));
    font-size: 26px;
    padding: 15px;
    border-radius: 10%;
    height: 60px;
}

.corpo{
    text-align: center;
    padding: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 70px;
    color: var(--cor--secundaria);
}

.container__corpo{
    height: 100vh;
    text-align: center;

}
.container__corpo__titulo{
    margin-top: 15%;
    padding: 5% 0% 5% 0%;
    font-family: var(--font--primaria);
    justify-content: center;
    font-size: 30px;
}
.container__corpo__valores{
    padding: 1px;
    color: var(--cor--secundaria);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 30px ;
}
.container__corpo__valores__mensais{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    font-family: var(--font--primaria);
    font-size: 15px;
    padding: 60px;
    border-radius: 40px;
    border: solid var(--cor--botao);
    text-align: center;
}

.container__corpo__valores__strong1{
    font-size: 35px;
}
.container__corpo__valores__strong2{
    font-size: 40px;
    color: var(--cor--botao);
    text-shadow: 2px 2px var(--cor--sombra);
}

.container__corpo__botao__assinar{
    text-align: center;
    font-family: var(--font--primaria);
    background: linear-gradient(var(--cor--botao--hover));
    color: var(--cor--secundaria);
    padding: 10px;
    border-radius: 8px;
}
.container__corpo__botao__assinar:hover{
    background: none;
    border-style: solid;
    border-width: 2px; 
}
.container__corpo2{
    font-family: var(--font--primaria);
}
.container__corpo2__titulo{
    margin-top: 15%;
    padding: 5% 0% 10% 0%;
    font-family: var(--font--primaria);
    justify-content: center;
    font-size: 30px;
}
.container__corpo2__vantagens{
    margin: 15px;
    text-align: left;
}
.dispositivos{
    text-align: center;
}
.dispositivos__titulo{
    font-family: var(--font--primaria);
    margin-top: 15%;
    padding: 5% 0% 10% 0%;
}
.dispositivos__lista{
    display: flex; 
    justify-content: center;
    list-style-type: none;
}

.rodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    font-family: var(--font--secundaria);
    background-color: var(--cor--sombra);
}
.rodape__autor{
    font-size: var(--cor--secundaria);
    text-align: center;
    margin: 30px 30px;
}